:root{
    --bg-color:#ffffff;
    --text-color: #1f2937;      /* xám đậm – dễ đọc */
    --card-bg: #f9fafb;         /* nền card rất nhẹ */
    --bg: #0f172a;              /* header: xanh đen */
    --color: #ffffff;           /* chữ trên header */
    --color-btn: #ffffff;
    --li-bg-hover: #dbeafe;     /* xanh nhạt */
    --li-color: #1e3a8a;
    --accent: #3b82f6;          /* XANH DƯƠNG NHẤN */
    --new-color: #06b6d4;       /*màu xanh ngọc*/
}

body{
    font-family: 'DM Sans', system-ui, sans-serif;
    margin: 0;
    font-size: 16px;
    line-height: 1.6;
    cursor: default;
    background: var(--bg-color);
    color: var(--text-color);
    transition: background 0.3s, color 0.3s;
    padding-top: 80px;
}
h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 20px;
}
body.dark {
    font-family: arial, sans-serif;
    margin: 0;
    line-height: 1.6;
    cursor: default;
    --bg-color: #0f172a;        /* nền chính */
    --text-color: #e5e7eb;      /* chữ sáng dịu */
    --card-bg: #1e293b;         /* card tối hơn nền */
    --bg: #020617;              /* header rất tối */
    --color: #e5e7eb;
    --li-bg-hover: #1e40af;
    --li-color:#fff;
    --color-btn: #e5e7eb;
    --accent: #60a5fa;          /* xanh sáng hơn */
    --new-color:#38d9e9;
}

.site-header{
    background: var(--bg);
    color: var(--color);
    cursor: default;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 800;
}

.header-inner{
    max-width: 1100px;
    margin: auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-header a{
    color: var(--color);
    text-decoration: none;
    font-weight: 700;
    padding: 0 10px;
}
.site-header a:hover{
    color: var(--accent);
}

.logo {
    font-size: 2.3rem;
    line-height: 1;
}

.menu-btn{
    justify-content: space-between;
    display: none;
    background: none;
    color: var(--color-btn);
    font-size: 24px;
    border: none;
    cursor: pointer;
    z-index: 1100;
}

.theme-btn{
    justify-content: space-between;
    background: none;
    border-radius: 12px;
    height: 35px;
    font-size: 15px;
}

.overlay{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 900;
}


@media(max-width: 600px){
    .main-nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 75%;
        max-width: 280px;
        height: 100vh;
        background: var(--bg);
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 1000;
        opacity: 0;
    }

    .main-nav.active{
        opacity: 1;
        transform: translateX(0);
    }
    .overlay.active{
        opacity: 1;
        pointer-events: auto;
    }
    .menu-btn{
        display: block;
        padding: 0px 25px;
    }
    
    .logo{
        font-size: 1.8rem;
        line-height: 0;
    }
    .site-header{
        padding: 0px 20px;
    }
    [data-reveal] {
        transform: translateY(20px);
        transition: opacity 0.4s ease, transform 0.4s ease;
    }

    [data-reveal].fade {
        opacity: 0.25;
    }
}


section{
    padding: 60px 20px;
    scroll-margin-top: 80px;
}

footer{
    text-align: center;
    padding: 20px;
    background: var(--bg-color);
}

/* thẻ card */
.skills, .hobbies {
    background: var(--card-bg);
    margin: 20px;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.06),
                0 12px 30px rgba(0, 0, 0, 0.08);
    flex: 1;
    min-width: 280px;
    background: var(--card-bg);
}

body.dark .skills, body.dark .hobbies{
    background: var(--card-bg);
    margin: 20px;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.06),
                0 12px 30px rgba(255, 255, 255, 0.08);
    flex: 1;
    min-width: 280px;
    background: var(--card-bg);
}

/* dạng badge */
ul{
    list-style: none;
    padding: 0;
}

li{
    display: inline-block;
    background: var(--bg);
    color: var(--color);
    padding: 8px 14px;
    margin: 6px;
    border-radius: 20px;
    font-size: 14px;
    cursor: default;
    transition: 0.25s ease;
    text-decoration: none;
}
li:hover{
    background: var(--accent);
    transform: translateY(-2px);
    transition: 0.2s;
    font-weight: 500;
}

.wrapper{
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
}

.hero{
    padding: 32px;
    text-align: center;
    padding-top: 120px;
}

.about{
    max-width: 700px;
    margin: auto;
    text-align: center;
    padding: 150px 0;
}

.project-list{
    display: grid;
    gap: 24px;
    padding: 20px;
}

.project-card{
    padding: 24px;
    border-radius: 12px;
    background: var(--card-bg);
    transition: 0.25s ease;
}
.project-card:hover{
    transform: translateY(-6px);
    box-shadow: 0 16px 30px rgba(0,0,0,0.12);
}

.contact, .name-projects, .name-skills-section{
    text-align: center;
}
html {
    scroll-behavior: smooth;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
p, li {
    font-weight: 400;
    font-family: 'Inter', system-ui, sans-serif;
}

.game, .game-p{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: var(--color);
    transition: 0.3s ease;
}
@media(prefers-reduced-motion: reduce){
    *{
        transition: none;
    }
}

.skill-desc {
    display: none;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.6;
    color: C;
}
.skill-desc {
    display: none;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.5;
    color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease;
    padding-bottom: 10px;
}
.skill-item.active .skill-desc {
    display: block;
    max-height: 100px;
}
.skill-item.active{
    font-weight: 700;
}

.skill-item{
    background: #222;
    color: #fff;
    padding: 8px 14px;
    border-radius: 20px;
    cursor: pointer;

    display: block;
    flex-direction: column;
}

.skills-list{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.skill-desc{
    display: none;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
}
.skill-item.active{
    width: 100%;
    flex-basis: 100%;
}

/* hiệu ứng các mục */
[data-reveal] {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

[data-reveal].fade {
    opacity: 0.3;
    transform: translateY(20px);
}

[data-reveal].active {
    opacity: 1;
    transform: translateY(0);
}

/* new */
.badge{
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 6px;
    margin-left: 6px;
    font-weight: 600;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}
.badge.new{
    background: var(--new-color);
    color: #fff;
}

section {
  background: linear-gradient(
    to bottom,
    transparent,
    rgba(0,0,0,0.02)
  );
}
section h2 {
  margin-bottom: 24px;
}

section p {
  margin-bottom: 16px;
}